:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --varyDarkBlue: hsl(234, 12%, 34%);
  --grayishBlue: hsl(229, 6%, 66%);
  --veryLightGray: hsl(0, 0%, 98%);
  --weight1: 200;
  --weight2: 400;
  --weight3: 600;
}

.logo-mochila {
  position: absolute;
  top: 50%;
  right: 20px;  /* Puedes ajustar este valor para mover el logo a la derecha según tus necesidades */
  transform: translateY(-50%);  /* Centra el logo verticalmente */
  font-size: 2em; /* Si estás usando un ícono, ajusta el tamaño aquí. Elimina si estás usando una imagen */
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fcfcfc;
  font-family: sans-serif;
  
}

.header {
  height: 20vh;
  background-image: linear-gradient(to right bottom, #278da9cc, #1c6fe4cc),
      url('https://4kwallpapers.com/images/wallpapers/gargantua-black-4480x2520-9621.jpg');
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 18vh, 0 100%);
}

.icons-box {
  position: absolute;
  top: 22%;
  left: 90%;
  color: #fcfcfc;
}
.icons-box i {
  font-size: 28px;  
  transition: all 0.3s ease;
}

@media (max-width: 600px) {
  .icons-box {
      top: 10%;
      left: 80%;
  }
  .icons-box i{
      font-size: 22px;
  }
}

.brand-box {
  position: absolute;
  top: 40px;
  left: 40px;
  color: #fcfcfc;
}

@media (max-width: 600px) {
  .brand-box {
      top: 20px;
      left: 20px;
  }
}

.brand {
  font-size: 20px;
}

@media (max-width: 600px) {
  .brand {
      font-size: 14px;
  }
}

.text-box {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 30px;
}

.heading-primary-main {
  display: block;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 5px;
}

.heading-primary-sub {
  display: block;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 7.4px;
  line-height: 1em; /* Adjust this value to your preference */
}

@media (max-width: 600px) {
  .heading-primary-main {
      width: 100vw;
      font-size: 15px;
  }

  .heading-primary-sub {
      font-size: 12px;
  }
}

body{
  background: #fcfcfc;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;  /* Stack children vertically */
  min-height: 100vh;  
}
footer {
  /* position: absolute; remove this */
  bottom: 0;
  left: 0;
  right: 0;
  background: #323c50;
  height: auto;
  width: 100vw;
  padding-top: 40px;
  color: #fff;
}

.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3{
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
}
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li{
  margin: 0 10px;
}
.socials a{
  text-decoration: none;
  color: #fff;
  border: 1.1px solid white;
  padding: 5px;

  border-radius: 50%;

}
.socials a i{
  font-size: 1.1rem;
  width: 20px;


  transition: color .4s ease;

}
.socials a:hover i{
  color: aqua;
}

.footer-bottom{
  background: #1F2739 ;
  width: 100vw;
  padding: 20px;
  padding-bottom: 40px;
  padding-left: 40vw;
  text-align: center;
  display: flex;
  align-items: center;
}
@media (max-width: 600px) {
  .footer-bottom{
      padding-left: 20vw;
  }
}

.footer-bottom p{
float: left;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom p a{
color:#44bae8;
font-size: 16px;
text-decoration: none;
}
.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}


/* Estilos tabla*/

.contenido {
  flex: 1; /* 100% de la altura del viewport */
}
@media (max-height: 800px) {
  .contenido {
      height: 40vh;
  }
}

.principal {
  flex-grow: 1; /* Se expandirá para ocupar el espacio restante */
}

.box p {
  color: var(--grayishBlue);
}

.box, .box2, .box3 {
  border-radius: 5px;
  box-shadow: 0px 30px 40px -20px var(--grayishBlue);
  padding: 30px;
  margin: 20px;
  transition: opacity 0.5s ease-in-out;
}

img {
  float: right;
  max-width: 100%;
  max-height: 100%;
  width: 70px; /* Cambia el valor al ancho deseado */
  height: auto;
}


@media (max-width: 450px) {
  .box, .box2, .box3 {
    height: 200px;
  }
}

@media (max-width: 950px) and (min-width: 450px) {
  .box, .box2, .box3 {
    text-align: center;
    height: 180px;
  }
}

.cyan {
  border-top: 3px solid var(--cyan);
}

.red {
  border-top: 3px solid var(--red);
}

.blue {
  border-top: 3px solid var(--blue);
}

.orange {
  border-top: 3px solid var(--orange);
}

h2 {
  color: var(--varyDarkBlue);
  font-weight: var(--weight3);
}

@media (min-width: 950px) {
  .row1-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .row2-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .box-down {
    position: relative;
    top: 150px;
  }

  .box, .box2, .box3 {
    width: 20%;
  }

  .header p {
    width: 30%;
  }
}

.container {
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#hideBoxesButton, #hideBoxesButton2, #hideBoxesButton3 {
  background-color: var(--red);
  color: white;
  font-weight: var(--weight2);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin: 20px auto;
  width: 8rem;
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
  border-radius: 7px;
}


#hideBoxesButton:hover, #hideBoxesButton2:hover, #hideBoxesButton3:hover {
  transform: scale(1.1); /* Escala el botón al 110% en el hover */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Aumenta la intensidad de la sombra en el hover */
}

.hide-boxes, .hide-boxes2, .hide-boxes3 {
  display: none;
  opacity: 0;
}


.btn {
  background-color: var(--red);
  color: rgb(70, 67, 67);
  font-weight: var(--weight2);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin: 20px auto;
  border-radius: 20px; /* Hace que el botón sea redondeado */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Agrega una sombra sutíl */

  transition: transform 0.2s, box-shadow 0.2s; /* Agrega transiciones para los efectos de hover */
}

.btn:hover {
  transform: scale(1.1); /* Escala el botón al 110% en el hover */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Aumenta la intensidad de la sombra en el hover */
}
